---
import DarkModeToggler from "@components/ui/ThemeToggler";
import Layout from "@layouts/Layout.astro";

export interface Course {
  courseTitle: string;
}

const { course } = Astro.params;

const coursePath = `content/courses/${course}`;

const courses = await Astro.glob<Course>("/content/courses/*/index.mdx");

const courseFiltered = courses.find((course) =>
  course.url?.includes(coursePath)
);

if (!courseFiltered) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const { frontmatter } = courseFiltered;
---

<Layout title={frontmatter.courseTitle}>
  <p>{frontmatter.courseTitle}</p>
</Layout>
