---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  href: string;
  ariaLabel: string;
  title: string;
}

const { href, ariaLabel, title, ...props } = Astro.props;
---

<a {...props} title={title} aria-label={ariaLabel} href={href}>
  <slot />
</a>
